<div class="content" role="main">

    <div class="container col-12" style="background-color: #FFFFFF;">
        <form class="form-horizontal" role="form">
            <div class="col-sm-12 text-md-center">
                <h2>Acedemic Integrity Policy</h2>
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
            <p>
                Below is a guideline of what academic misconduct includes:
                • Plagiarism (both intentional and unintentional): Plagiarism is basically taking someone else’s work
                and presenting it as
                your own. Use your TurnItIn.com account as a guideline; your originality score should not exceed 5% or
                15 words. Plagiarism includes but is not limited to the following:
                o Copying and pasting parts of text without proper documentation o Using work from another class for a
                current assignment
                o Inadequately paraphrasing someone else’s work
                o Improperly documenting source material
                o Submitting another student’s work as your own
                o Downloading a paper or a response from a “paper-mill” or internet source
                • Cheating (Cheating and Unauthorized Assistance): Cheating encompasses both the
                giving/distributing/selling of answers
                as well as the accepting/taking/stealing/buying answers. You may not use notes, smart phones, or the
                Internet during any
                quiz/test. You may not accept help during a quiz/test.
                • Impersonation: Taking the identity of another person to give an advantage to that student.
                • Bribery: Like cheating, applies to both the one selling and the one buying answers or exchanging
                service for reward.
                • Deception: Misleading of any sort is unacceptable. This would include claiming to have submitted work
                or giving a false
                excuse for missing a deadline.
                • Fabrication: Forging a signature, creating false data, or making up citations.
                Academic Misconduct is regarded as a serious offense. Many institutions of higher education expel
                students found guilty of this lack of integrity. The established policy is an effort to prepare all
                Northwest Liberty School students for the future. For a full discussion of NWLS’s expectations regarding
                Academic Integrity, please visit our website.
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Violation</th>
                        <th>Procedure</th>
                        <th>Disciplinary Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st Offense</td>
                        <td>The misconduct is documented. The student and parent are contacted and, in most cases, will
                            meet with Administration to discuss the issue.
                        </td>
                        <td>• Misconduct documented in student file
                            • Zero credit for activity
                            • Academic Eval. Fee ($100) per course
                            • All future quiz/exam may require proctoring ($100 Proctor Fee/course)
                            • Misconduct may be reported to school of record
                            • Course closed during investigation without extension.</td>
                    </tr>
                    <tr>
                        <td>2nd Offense
                        </td>
                        <td>The misconduct is documented. The student and parent are contacted and will meet with
                            Administration to discuss the issue.
                        </td>
                        <td>• Misconduct documented in student file
                            • Academic Eval Fee ($100) per course
                            • Failed Course. “F” on transcript. Forfeiture of tuition
                            • This re-enrolled course and all future courses must be proctored ($100)
                            • Additional AIU assignments
                            • Misconduct will be reported to school of record/common app
                            • Course closed during investigation without extension</td>
                    </tr>
                    <tr>
                        <td>3rd Offense
                        </td>
                        <td>The misconduct is documented. The Administration informs student and parent of final
                            infraction and disciplinary actions.
                        </td>
                        <td>• Misconduct documented in student file
                            • Academic Eval Fee ($100) per course
                            • Student/Parent contact-meeting
                            • Expulsion from NWLS. “F” on transcript. Forfeiture of tuition
                            • Student excluded from future NWLS offerings
                            • Misconduct will be reported to school of record/common app
                            • Course closed during investigation without extension
                            * At NWLS’s discretion, 1st offense may elevate to 2nd or 3rd level.</td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-bottom: 2%;">
               <p> To deter and detect academic misconduct, students may be required to submit assignments to TurnItIn.com,
                or the teacher may conduct
                an Internet search or other means of detection, relevant to the coursework.</p>
                <p>
                I have read and agree to the NWLS’s Academic Integrity Policy. My signature on this form is good for the
                remainder of the school year (including the summer session) and covers all of my enrollments at NWLS.</p>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-sm-4" style="margin-right: 1%;">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-2" style="margin-right: 1%;">
                    <input type="date" class="form-control">
                </div>
                <div class="form-group col-sm-4" style="margin-right: 1%;">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-sm-6" style="margin-right: 1%;">
                    <label for="firstName" class="control-label text-md-left">Parent/Guardian Signature</label>
                </div>
                <div class="form-group col-sm-6" style="margin-right: 1%;">
                    <label for="firstName" class="control-label text-md-left">Student Signature</label>
                </div>
            </div>
        </form> <!-- /form -->
        <div class="col-sm-12" style="background-color: #E2E9F2;">
            <hr />

            <div class="col-sm-3 form-group pull-left" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigateBack()"> &lt; Previous Section</button>
            </div>

            <div class="col-sm-2 form-group pull-right" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigate()">Continue &gt;</button>
            </div>
            <div class="col-sm-2 form-group pull-right">
                <button type="submit" class="btn btn-primary btn-block">Cancel</button>
            </div>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>


    </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->