<div class="content" role="main">

    <div class="container col-12" style="background-color: #FFFFFF;">
        <form class="form-horizontal" role="form">
            <div class="col-sm-12 text-md-center">
                <h2>Enrollment Form</h2>
                <h6>*A Non-refundable $50 registration fee application applies once per year, per student. </h6>
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="firstName" class="control-label text-md-left">Enrollment Date</label>
                        </div>
                        <div class="form-group">
                            <input type="date" placeholder="Enrollment Date" class="form-control pull-left col-sm-10">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="firstName" class="control-label text-md-left">Semesters</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" style="margin-right: 1%;">
                            <label for="firstName" class="control-label text-md-left">Semester 1</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" style="margin-right: 1%;">
                            <label for="firstName" class="control-label text-md-left">Semester 2</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="firstName" class="control-label text-md-left">Select by Department</label>
                        </div>
                        <div class="form-group">
                            <select id="department" class="form-control col-sm-8 drop-down"
                                style="height: 34px !important;">
                                <option value="volvo">Department 1</option>
                                <option value="saab">Department 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="firstName" class="control-label text-md-left">Type of Credit</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" style="margin-right: 1%;">
                            <label for="firstName" class="control-label text-md-left">Adv. Placement</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" style="margin-right: 1%;">
                            <label for="firstName" class="control-label text-md-left">Credit Recovery</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" style="margin-right: 1%;">
                            <label for="firstName" class="control-label text-md-left">Honors</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" style="margin-right: 1%;">
                            <label for="firstName" class="control-label text-md-left">Regular Ed.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8 text-md-left">
                <label for="firstName" class="control-label">Select Course</label>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>2D Studio Art</td>
                            <td>$299</td>
                        </tr>
                        <tr>
                            <td>3D Modeling</td>
                            <td>$299</td>
                        </tr>
                        <tr>
                            <td>Advance Drawing</td>
                            <td>$299</td>
                        </tr>
                        <tr>
                            <td>Advertising & Sales Promotion</td>
                            <td>$299</td>
                        </tr>
                        <tr>
                            <td>Algebra 1 Honors Online</td>
                            <td>$299</td>
                        </tr>
                        <tr>
                            <td>Algebra 1 Online</td>
                            <td>$299</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form> <!-- /form -->
        <div class="col-sm-12" style="background-color: #E2E9F2;">
            <hr />

            <div class="col-sm-3 form-group pull-left" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigateBack()"> &lt; Previous Section</button>
            </div>

            <div class="col-sm-2 form-group pull-right" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigate()">Continue &gt;</button>
            </div>
            <div class="col-sm-2 form-group pull-right">
                <button type="submit" class="btn btn-primary btn-block">Cancel</button>
            </div>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>


    </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->