<div class="content" role="main">

    <div class="container col-12" style="background-color: #FFFFFF;">
        <form class="form-horizontal" role="form">
            <div class="col-sm-12 text-md-center">
                <h2>Acedemic Profile</h2>
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="firstName" class="control-label text-md-left">New Student</label>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="control-label text-md-left">Lake Washington High School
                            Student</label>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="control-label text-md-left">Life threatning
                            illness/allergy</label>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="control-label text-md-left">Active IEP</label>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="control-label text-md-left">Will you play sport in
                            college?</label>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="control-label text-md-left">Active 504 plan</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">Yes</label>
                        &nbsp;
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">No</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" />
                    </div>
                    <div class="form-group">
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">Yes</label>
                        &nbsp;
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">No</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">Yes</label>
                        &nbsp;
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">No</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">Yes</label>
                        &nbsp;
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">No</label>
                        &nbsp;
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">May be</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">Yes</label>
                        &nbsp;
                        <input type="radio" />
                        &nbsp;
                        <label for="firstName" class="control-label text-md-left">No</label>
                    </div>
                </div>
            </div>


        </form> <!-- /form -->
        <div class="col-sm-12" style="background-color: #E2E9F2;">
            <hr />

            <div class="col-sm-3 form-group pull-left" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigateBack()"> &lt; Previous Section</button>
            </div>

            <div class="col-sm-2 form-group pull-right" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigate()">Continue &gt;</button>
            </div>
            <div class="col-sm-2 form-group pull-right">
                <button type="submit" class="btn btn-primary btn-block">Cancel</button>
            </div>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>


    </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->