<div class="content" role="main">

    <div class="container col-12" style="background-color: #FFFFFF;">
        <form class="form-horizontal" role="form">
            <div class="col-sm-12 text-md-center">
                <h2>Enrollment Form Course</h2>
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <div class="col-sm-5" style="margin-bottom: 2%;">
                    <a class="btn icon-btn btn-success" href="#" style="color: white;">
                      <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
                      Add Another Course
                    </a>
                  </div>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <label for="firstName" class="control-label">Select Course</label>
                <label for="firstName" class="control-label pull-right">Start Date</label>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>2D Studio Art</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3D Modeling</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Advance Drawing</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Advertising & Sales Promotion</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Algebra 1 Honors Online</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Algebra 1 Online</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form> <!-- /form -->
        <div class="col-sm-12" style="background-color: #E2E9F2;">
            <hr />

            <div class="col-sm-3 form-group pull-left" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigateBack()"> &lt; Previous Section</button>
            </div>

            <div class="col-sm-2 form-group pull-right" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigate()">Continue &gt;</button>
            </div>
            <div class="col-sm-2 form-group pull-right">
                <button type="submit" class="btn btn-primary btn-block">Cancel</button>
            </div>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>


    </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->