<div class="content" role="main">

  <div class="container col-12" style="background-color: #FFFFFF;">
    <form class="form-horizontal" role="form">
      <div class="col-sm-12 text-md-center">
        <h2>Parent Information</h2>
      </div>
      <div class="col-sm-12">
        <hr />
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="firstName" class="col-sm-8 control-label text-md-left">Primary Home</label>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-4 control-label text-md-left">Street Address</label>
          <label for="firstName" class="col-sm-3 control-label text-md-left">City</label>
          <label for="firstName" class="col-sm-2 control-label text-md-left">State</label>
          <label for="firstName" class="col-sm-2 control-label text-md-left">Zip/Postal Code</label>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <input type="text" id="firstName" placeholder="Stree Address" class="form-control" autofocus>
          </div>
          <div class="col-sm-3">
            <input type="text" id="lastName" placeholder="City" class="form-control">
          </div>
          <div class="col-sm-2">
            <input type="text" id="lastName" placeholder="Zip" class="form-control">
          </div>
          <div class="col-sm-3">
            <input type="text" id="lastName" placeholder="Postal Code" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="col-sm-4">
            <label for="dateOfBirth" class="control-label text-md-left nopadding-left">Parent Primary First Name</label>
          </div>
          <div class="col-sm-4">
            <label for="dateOfBirth" class="control-label text-md-left nopadding-left">Parent Primary Last Name</label>
          </div>
          <div class="col-sm-4">
            <label for="dateOfBirth" class="control-label text-md-left nopadding-left">Parent Primary Email</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input type="text" id="dob" placeholder="Parent Primary First Name" class="form-control" name="dob">
          </div>
          <div class="col-sm-4">
            <input type="text" id="grade" placeholder="Parent Primary Last Name" class="form-control" name="grade">
          </div>
          <div class="col-sm-4">
            <input type="text" id="grade" placeholder="Parent Primary Email" class="form-control" name="grade">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label for="password" class="control-label text-md-left">Parent Primary Cell Phone</label>
          </div>
          <div class="col-sm-4">
            <label for="password" class="control-label text-md-left">Parent Primary Home Phone</label>
          </div>
          <div class="col-sm-4">
            <label for="password" class="control-label text-md-left">Notification of</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXXX" class="col-sm-5 form-control">
          </div>
          <div class="col-sm-4">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXXX" class="col-sm-5 form-control">
          </div>
          <div class="col-sm-4">
            <label for="password" class="control-label pull-left" style="margin-right: 5%;">Role:</label>
            <select id="roles" class="form-control col-sm-8 drop-down" style="height: 34px !important;">
              <option value="volvo">Primary Parents</option>
              <option value="saab">Secondary Parent</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber" class="col-sm-4 control-label text-md-left">First Name</label>
          <label for="phoneNumber" class="col-sm-4 control-label text-md-left">Last Name</label>
          <label for="phoneNumber" class="col-sm-4 control-label text-md-left">Email</label>

        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input type="text" id="areacode" placeholder="First Name" class="form-control">
          </div>
          <div class="col-sm-4">
            <input type="text" id="prefix" placeholder="Last Name" class="form-control">
          </div>
          <div class="col-sm-4">
            <input type="text" id="phoneNumber" placeholder="Email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label for="password" class="control-label text-md-left">Cell Phone</label>
          </div>
          <div class="col-sm-4">
            <label for="password" class="control-label text-md-left">Home Phone</label>
          </div>
          <div class="col-sm-4">
            <label for="password" class="control-label text-md-left">Notification of</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXXX" class="col-sm-5 form-control">
          </div>
          <div class="col-sm-4">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXX" class="col-sm-3 form-control" style="margin-right: 1%;">
            <input type="email" id="email" placeholder="XXXX" class="col-sm-5 form-control">
          </div>
          <div class="col-sm-4">
            <label for="password" class="control-label pull-left" style="margin-right: 5%;">Role:</label>
            <select id="roles" class="form-control col-sm-8 drop-down" style="height: 34px !important;">
              <option value="volvo">Primary Parents</option>
              <option value="saab">Secondary Parent</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-5" style="margin-bottom: 2%;">
        <a class="btn icon-btn btn-success" href="#" style="color: white;">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
          Add Secondary Home
        </a>
      </div>
      

    </form> <!-- /form -->
    <div class="col-sm-12" style="background-color: #E2E9F2;">
      <hr />

      <div class="col-sm-3 form-group pull-left" style="margin-right: 5%;">
          <button type="submit" class="btn btn-primary btn-block" (click)="navigateBack()"> &lt; Previous Section</button>
      </div>

      <div class="col-sm-2 form-group pull-right" style="margin-right: 5%;">
          <button type="submit" class="btn btn-primary btn-block" (click)="navigate()">Continue &gt;</button>
      </div>
      <div class="col-sm-2 form-group pull-right">
          <button type="submit" class="btn btn-primary btn-block">Cancel</button>
      </div>
  </div>
    <div class="col-sm-12">
      &nbsp;
    </div>


  </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->