<div class="content" role="main">

    <div class="container col-12" style="background-color: #FFFFFF;">
        <form class="form-horizontal" role="form">
            <div class="col-sm-12 text-md-center">
                <h2>Course Agreement</h2>
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Read and initial each course agreement.</th>
                    <th>Student</th>
                    <th>Parent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Course Completion Agreement. NWLS must receive all coursework by midnight on the completion date. A 24-hour drop-box is available on-site.</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Course Transfer. A transfer can be made within the first 4 weeks of a 16 week course or the first 2 weeks of an 8 week course for $100.
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Course Extension. If additional time is needed to finish a course, a Course Extension Form needs to be filled out and signed by both student and parent. Each two-week extension costs $100 per course, per semester. Courses need to be completed within one year of the original start date.
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Course Final Grade. All RE, HR, and AP courses will earn a letter final grade (A - F). NWLS does not round up. If a “Pass” is preferred (≥70%), a written request must be submitted to NWLS within 10 business days from enrollment. CR courses need a ≥70% in EACH UNIT to earn a Pass.
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Refund Policy. Online & Independent Study: 5 business day money back guarantee from the start date. 75% refund available within the first 10 business days. No refund after 10 business days. The $50 registration fee is non-refundable.
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>In Class and One on One Classes: First month’s installment is due upon application. Withdrawal from IC/OO requires a 30-day notice. You will be charged during period of notice.
                        *Application and Registration fees are non refundable.</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Late Payment. A late monthly payment will incur a fee of 1% of the overdue amount.</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Academic Integrity. The student must complete all work, agree with and uphold the Academic Integrity Policy. Failure to follow this policy may result in an “F” grade, loss of tuition, and not being allowed to take any future courses at NWLS.
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Proctoring. Tests and exams in all World Language courses are proctored.
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Lake Washington High School requires tests and exams in all courses to be proctored. No appointment necessary. Testing times: 9am - 4pm Monday - Friday
                    </td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                </tbody>
              </table>
              <div style="margin-bottom: 2%;">
                I have read and agreed to NWLS Course Agreement policies.
              </div>
              <div class="col-sm-12">
                <div class="form-group col-sm-4" style="margin-right: 1%;">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-2" style="margin-right: 1%;">
                    <input type="date" class="form-control">
                </div>
                <div class="form-group col-sm-4" style="margin-right: 1%;">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <input type="date" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group col-sm-6" style="margin-right: 1%;">
                    <label for="firstName" class="control-label text-md-left">Parent Signature</label>
                </div>
                <div class="form-group col-sm-6" style="margin-right: 1%;">
                    <label for="firstName" class="control-label text-md-left">Student Signature</label>
                </div>
              </div>
        </form> <!-- /form -->
        <div class="col-sm-12" style="background-color: #E2E9F2;">
            <hr />

            <div class="col-sm-3 form-group pull-left" style="margin-right: 5%;">
                <button type="submit" class="btn btn-primary btn-block" (click)="navigateBack()"> &lt; Previous Section</button>
            </div>

            <div class="col-sm-3 form-group pull-right" style="margin-right: 5%;">
                <button type="submit" class="btn btn-danger btn-block" (click)="navigate()">Submit Registration</button>
            </div>
            <div class="col-sm-2 form-group pull-right">
                <button type="submit" class="btn btn-primary btn-block">Cancel</button>
            </div>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>


    </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->