<div class="content" role="main">

    <div class="container col-5" style="background-color: #FFFFFF; margin-top: 8%;">
        <div class="col-sm-12 text-md-center" style="background-color: #FFFFFF; margin-top: 15%;">
            <h1>Thank you!</h1>
        </div>

        <div class="col-sm-12 text-md-center" style="background-color: #FFFFFF; margin-top: 8%;">Thank you for
            submitting your web registration. A confirmation email
            has been sent to Bob@NWLS.us. You will be notified by Northwest Library
            School when the registration has been completed.</div>

        <div class="col-sm-12 text-md-center" style="color: red; margin-top: 8%; margin-bottom: 8%;">
            Please add jen.cihak@NWLS.us to your safe list to ensure
            you receive all communication.</div>

    </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->